* {
    flex-wrap: wrap;
    margin: 0px;
    padding: 5px;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

body {
    background-color: rgba(0, 0, 0, .5);
    flex-wrap: wrap;
    height: 100vh;
}

#head {
    justify-content: center;
    width: 100%;
    display: flex;
    margin-left: 10px;
}

.text-area {
    height: 40px;
  }

.container {
    position: relative;
    justify-content: center;
    min-height: 100vh;
    max-width: 100vw;
    padding: 5px;
    margin: 0px;
    flex-direction: column;
    flex-wrap: wrap;
}

.results {
    align-content: top;
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    /* width: 60vw; */
    /* height:80vh; */
}

.current .day h2 {
    font-size: 2.2rem;
}

.weather-container {
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    width: 100vw;
    height:40vh;
}


.search-area {
    
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    max-width: 40%;
    min-width: 20%; 
    float:left; 
}

/* .history {
    border-radius: 8px;
    max-width: 200px;
    min-width: 150px;
} */

.history-area {
    background-color: rgba(0, 0, 0, .2);
    border-radius: 8px;
    max-width: 200px;
    min-width: 100%;
}

/* .search-area .day {
    flex-direction: row;
    min-width: 80px;
    max-width: 250px;
    margin: 4px;
    padding: 10px;
    background-color: royalblue;
    flex-wrap: wrap;
    height: fit-content;
    background-position: top;
    background-attachment: fixed;
    background-repeat: no-repeat;
    border-radius: 7px;
} */


.popular {
    margin-top: 5px;
    margin-bottom: 5px;
    background-color: rgba(0, 0, 0, .2);
    border-radius: 8px;
    max-width: 200px;
    min-width: 100%;
}

.current {
    margin: 0;
    padding: 0;
    justify-content: left;
    width: 100vw;
    height:29vh;
}

#icon {
    max-block-size: 3rem;
}

.day {
    align-content: center;
    min-width: 80px;
    max-width: 170px;
    margin: 4px;
    padding: 20px;
    background-color: royalblue;
    flex-wrap: wrap;
    height: fit-content;
    background-position: top;
    background-attachment: fixed;
    background-repeat: no-repeat;
    border-radius: 7px;
}

.current-result {
    width: 100%;
    background-color: royalblue;
    background-position: top;
    border-radius: 7px;
}

.temp {
    font-size: 2rem;
    color: white;
}

input {
    border: none;
    border-radius: 7px;
    background-color: rgba(225, 225, 225, 0.7);
}

input:focus {
    border: none;
    background-color: rgba(225, 225, 225, 1);
    outline: none;
}

button {
    border-radius: 7px;
    background-color: #313131;
    border: none;
    color: white;
    padding: 10px;
    text-align: center;
    font-size: 16px;
    margin: 4px 2px;
    opacity: 0.6;
    outline: none;
}

button:hover {
    transition: 0.3s;
    opacity: 1
    
}

header {
    background-color: rgba(0, 0, 0, .2);
    border-radius: 8px;
    display: flex;
}

h1 {
    color: rgb(229, 229, 229);
    font-size: 2.5rem;
}

h2 {
    color: rgb(229, 229, 229);
    font-size: 1.5rem;
    text-shadow: rgba(0, 0, 0, .5);
}

p {
    color: rgb(229, 229, 229);
    font-size: 1rem;
    text-shadow: rgba(0, 0, 0, .5);
}

footer {
    display: block;
    width: 100vw;
}

@media only screen and (max-width: 730px) {
    body {
      background-color: lightblue;
      flex-wrap: wrap;
    }
.results {
    margin: 4;
    width: 100vw;
    align-content: top;
}

.current {
 height: 42vh;
}

.current .day h2 {
    font-size: 1.7rem;
}

.container

  }