* {
    margin: 0px;
    padding: 5px;
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
}

body {
    background-image: url("https://en.nn.najah.edu/media/uploads/weblog/2020/09/01/new-history-forecast-bulk.png");
    flex-wrap: wrap;
    background-size: cover;
    height: fit-content;
    background-position: bottom;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

.head {
    display: flex;
}

.container {
    position: relative;
    justify-content: center;
    min-height: 100vh;
    max-width: 100vw;
    padding: 5px;
    margin: 0px;
    flex-direction: column;
    flex-wrap: wrap;
}

.search-area {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 20%; 
    float:left; 
    height:90vh;
}

.weather-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    width: 80%; 
    float:right; 
    height:90vh;
}

.icon {
    background-size: cover;
    height: fit-content;
    background-position: bottom;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

/* .day {
    flex-direction: row;
} */

input {
    border: none;
    border-radius: 7px;
    background-color: rgba(225, 225, 225, 0.7);
}

input:focus {
    border: none;
    background-color: rgba(225, 225, 225, 1);
    outline: none;
}

button {
    border-radius: 7px;
    background-color: #313131;
    border: none;
    color: white;
    padding: 10px;
    text-align: center;
    font-size: 16px;
    margin: 4px 2px;
    opacity: 0.6;
    outline: none;
}

button:hover {
    transition: 0.3s;
    opacity: 1
    
}

header {
    display: flex;
}

.head {
    width: 50%;
}

/* .current {
    /* max-width: 50%;
    margin: .5px;
    padding: 2px; */
    background-color: royalblue;
    /* flex-wrap: wrap; */
    /* height: fit-content; */
    /* background-position: top;
    background-attachment: fixed;
    background-repeat: no-repeat; */
    border-radius: 7px;
} */

.day {
    min-width: 100px;
    max-width: 200px;
    margin: .5px;
    padding: 2px;
    background-color: royalblue;
    /* background-image: url(https://images.unsplash.com/photo-1513002749550-c59d786b8e6c?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mjh8fHNlZSUyMGZyb20lMjB0aGUlMjBza3l8ZW58MHx8MHx8&w=1000&q=80); */
    flex-wrap: wrap;
    /* background-size: 100%; */
    height: fit-content;
    background-position: top;
    background-attachment: fixed;
    background-repeat: no-repeat;
    border-radius: 7px;
}

h1 {
    color: rgb(0, 0, 0);
    font-size: 2.5rem;
}

h2 {
    color: rgb(229, 229, 229);
    font-size: 1.5rem;
    text-shadow: rgba(0, 0, 0, .5);
}

h3 {
    color: rgb(229, 229, 229);
    font-size: 1rem;
    text-shadow: rgba(0, 0, 0, .5);
}

.weather-header {
    color: rgb(0, 0, 0);
}

.temp {
    font-size: 2rem;
    color: white;
}

#footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: rem;
}